body {
    background-color: #f8f8f8;
}

.menu {
    position:absolute;
    left: auto;
    right: 50px;
}

.menu li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu, a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}
.menu a {
    width: 100%;
    display: block;
    height: 50px;
}

.menu li {
    width: 150px;
    height: 50px;
    list-style-type: none;
    border: 1px solid #000;
    text-align: center;
    display: inline-block;
}

.menu li a:hover {
    color: red;
}

.menu li a:active {
    color: green;
}

h1, h3 {
    text-align: center;
}

p {
    font-size: 14px;
    text-align: left;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400px;
    background-color: #eaeaea;
    text-align: center;
}

.short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    text-align: left;
}

.list {
    color: darkgreen;
}

.list > li {
    width: 140px;
    height: 25px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

input {
    height: 25px;
    color: black;
    font-style: italic;
}

.subm {
    background-color: green;
}
.res {
    background-color: red;
}

table, td {
    width: 400px;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

input[type="text"]:first-letter {
    font-size: 24px;
    color: red;
}
.email {
    color: orange;
    background-color: gray;
}

.text::first-letter {
    font-size: 30px;
    color: rebeccapurple;
}

.logo {
    width: 100px;
    height: 50px;
    float: left;
    position: relative;
    left:50px;
    top: 25px;
}

footer{
    height: 50px;
    background-color: #ccc;
}
footer > p {
    text-align: right;
}
.container {
    margin: 0 auto;
    position: relative;
}
header {
    height: 150px;
    background-color: darkgrey;
    background: url("../image/3.jpg")
}

.content > ul {
    list-style-type: none;
}
.content  li {
    text-align: center;
    margin-right: 30px;
    display: inline-block;
}
.by {
    background-color: green;
}
.by:hover {
    background-color: orange;
}
